<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.Emp" >
    <id column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="emp_dept" property="empDept" jdbcType="INTEGER" />
    <result column="emp_time" property="empTime" jdbcType="VARCHAR" />
    <result column="emp_job" property="empJob" jdbcType="VARCHAR" />
    <result column="emp_dupy" property="empDupy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    emp_id, emp_name, emp_dept, emp_time, emp_job, emp_dupy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.Emp" >
    insert into t_emp (emp_id, emp_name, emp_dept, 
      emp_time, emp_job, emp_dupy
      )
    values (#{empId,jdbcType=INTEGER}, #{empName,jdbcType=VARCHAR}, #{empDept,jdbcType=INTEGER}, 
      #{empTime,jdbcType=VARCHAR}, #{empJob,jdbcType=VARCHAR}, #{empDupy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Emp" >
    insert into t_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="empDept != null" >
        emp_dept,
      </if>
      <if test="empTime != null" >
        emp_time,
      </if>
      <if test="empJob != null" >
        emp_job,
      </if>
      <if test="empDupy != null" >
        emp_dupy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null" >
        #{empDept,jdbcType=INTEGER},
      </if>
      <if test="empTime != null" >
        #{empTime,jdbcType=VARCHAR},
      </if>
      <if test="empJob != null" >
        #{empJob,jdbcType=VARCHAR},
      </if>
      <if test="empDupy != null" >
        #{empDupy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Emp" >
    update t_emp
    <set >
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empDept != null" >
        emp_dept = #{empDept,jdbcType=INTEGER},
      </if>
      <if test="empTime != null" >
        emp_time = #{empTime,jdbcType=VARCHAR},
      </if>
      <if test="empJob != null" >
        emp_job = #{empJob,jdbcType=VARCHAR},
      </if>
      <if test="empDupy != null" >
        emp_dupy = #{empDupy,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Emp" >
    update t_emp
    set emp_name = #{empName,jdbcType=VARCHAR},
      emp_dept = #{empDept,jdbcType=INTEGER},
      emp_time = #{empTime,jdbcType=VARCHAR},
      emp_job = #{empJob,jdbcType=VARCHAR},
      emp_dupy = #{empDupy,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <select id="empList" resultType="Emp">
    select * from t_emp e left join emp_dept d on e.emp_dept=d.dept_id
  </select>
  <select id="deptLsit" resultType="EmpDept">
    select * from emp_dept

  </select>
</mapper>