<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="/vue/vue.min.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap-paginator.js"></script>


</head>
<body>
<div class="box-header with-border">
    <h3 class="box-title">订单管理</h3>
</div>

<div class="box-body" id="app">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" v-on:click="brand = {}"><i class="fa fa-file-o"></i> 新建</button>
                    <button type="button" class="btn btn-default" title="删除" v-on:click="deleteOrder()"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                名称：<input type="text" v-model="orderName" />

                <button type="button" class="btn bg-olive" onclick="findAll()">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>

                <th class="sorting">订单编号</th>
                <th class="sorting">订单名称</th>
                <th class="sorting">价格</th>
                <th class="sorting">时间</th>
                <th class="sorting">支付方式</th>
                <th class="sorting">操作</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="order in orderList">
                <td><input  type="checkbox" v-on:click="updateSelection($event, order.orderId)"></td>

                <td>{{order.orderNo}}</td>
                <td>{{order.orderName}}</td>
                <td>{{order.orderPrice}}</td>
                <td>{{order.orderTime}}</td>
                <td>{{order.modeName}}</td>



                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" v-on:click="findOne(order.orderId)" >修改</button>
                </td>
            </tr>

            </tbody>
        </table>

        <div id="example" style="text-align: center"> <ul id="pageLimit"></ul> </div>

    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">订单编辑</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped"  width="800px">
                        <tr>
                            <td>订单编号</td>
                            <td><input  class="form-control" placeholder="订单编号" v-model="order.orderNo">  </td>
                        </tr>
                        <tr>
                            <td>订单名称</td>
                            <td><input  class="form-control" placeholder="订单名称" v-model="order.orderName">  </td>
                        </tr>
                        <tr>
                            <td>订单价格</td>
                            <td><input  class="form-control" placeholder="订单价格" v-model="order.orderPrice">  </td>
                        </tr>
                        <tr>
                            <td>订单时间</td>
                            <td><input  class="form-control" placeholder="订单时间" v-model="order.orderTime">  </td>
                        </tr>
                        <tr>
                            <td>支付方式</td>
                            <td><input  class="form-control" placeholder="支付方式" v-model="order.orderMode">  </td>
                        </tr>

                        <input style="display: none" v-model="order.orderId">
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" v-on:click="saveOrder()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>


</div>






<script type="text/javascript">

    var vm = new Vue({
        el:'#app',
        data: {
            orderList: '',
            total:'',
            page:'',
            rows:'',
            totalPage:'',
            orderName:'',

            order: {
                orderId:null,
                orderNo:'',
                orderName:'',
                orderPrice:'',
                orderTime:'',
                orderMode:''

            },
            selectIds: ''
        }
    })

    $(function(){
        findAll();
    })

    //保存
    function saveOrder() {

        $.ajax({
            type:'post',
            url:'../saveOrder',
            data:vm.order,
            dataType:'json',
            success: function () {

            }

        })


    }
    vm.selectIds = [];
    //复选框选中
    function updateSelection($event, id) {
        if ($event.target.checked) {
            vm.selectIds.push(id);
        } else {
            var idx = vm.selectIds.indexOf(id);
            vm.selectIds.splice(idx, 1);//删除
        }

        console.info(vm.selectIds.toString());
    }

    //删除
    function deleteOrder() {
        $.ajax({
            type:'post',
            url:'../deleteOrderByIds',
            data:{'orderIds': vm.selectIds.toString()},
            dataType:'json',
            success:function () {

                findAll();
                $("input[type='checkbox']").prop("checked", false);

            },
            error: function (result) {

            }
        })
    }

    //修改回显
    function findOne(id) {
        $.ajax({
            type:'post',
            url:'../findOrderOne',
            data:{'orderId': id},
            dataType: 'json',
            success: function (result) {
                vm.order = result;
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }
    function findAll(){
        $.ajax({
            type:"post",
            url:"../orderList",
            data:{},
            dataType:"json",
            success: function(result) {
                vm.orderList = result;
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }
</script>
</body>
</html>